body{
    font-size: 15px;
    background: #FCFCFD;
}

/* 通用标题 */
.sectionTitle{
    border-left: 2px solid #D43C33;
    font-size: 17px;
    line-height: 1; /*和字体一样高*/
    padding-left: 8px;
    margin: 20px 0 8px;
    color: #333;
}
.noCollapse::before{
    content: '';
    display: table;
}
.noCollapse::after{
    content: '';
    display: table;
}

/* topbar */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
}
section.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D43C33;
    padding: 17px 10px; /* //5.3125vw 3.123vw */

}
section.topbar .logo>svg{
    width: 142px; /* //44.375vw */
    height: 25px; /* //7.8125vw */
    vertical-align: top;
}
section.topbar >a{
    color: white;
    display: inline-block;
    font-size: 15px;  /* //4.6875vw */
    padding: 5px 11px;  /* //1.5625vw  3.4375vw*/
    line-height: 20px;  /* //6.25vw */
    position: relative;
}
section.topbar > a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid white;
    border-radius: 50px;  /* //6.25vw */
    transform: scale(0.5);
    transform-origin: 0 0;
}

/* tab */
.tabs{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.tabs>li{
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex; /*自动收缩*/
    justify-content: center; /*左右居中*/
    align-items: center; /*上下居中*/
}
.tabs >li.active{
    color: #D43C33;
}
.tabs>li>.text{
    position: relative;
    padding: 10px 5px;
    top: 1px;
}
.tabs>li.active>.text{

}
.tabs>li.active>.text::after{
    content: "";
    position: absolute;
    height: 2px;
    background: #D43C33;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tab-content{
    margin-top: 105px;
}
.tab-content > li{
    display: none;
}
.tab-content > li.active{
    display: block;
}



section.globaTabs{}




/* 推荐歌单 */

section.playlists {
    padding-bottom: 12px;
}
section.playlists > ol.songs{
    display: flex;
    flex-wrap: wrap; /*换行*/
    justify-content: space-between; /*两边布局*/
    font-size: 13px;
}
.cover{
    position: relative;
}
.cover >.amount{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding-left: 13px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
    padding-right: 5px;
    width: 100%;
}
.cover >.amount .icon-listen{
    margin-top: 2px;
    margin-right: 3px;
}
.cover >.amount::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    z-index: -1;
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),transparent);
    padding: 0;
} 
section.playlists > ol.songs .cover > img{
    /* height: 105px; */
}
section.playlists > ol.songs>li{
    width: 32.8%;
    margin: 8px 0;
}
section.playlists > ol.songs>li>a>p{
    padding: 6px 2px 0 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*行数*/
    overflow: hidden;
    line-height: 1.2;
    color: #333;
}
section.playlists > ol.songs>li img{
    width: 100%;
}

/* 最新音乐列表 */
section.songs{}
section.songs > .list > li > a > h3{
    font-size: 17px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    width: 86%;
}
section.songs > .list > li > a > h3 >span{
    color: #888;

}
section.songs > .list > li > a > p{
    font-size: 12px;
    color: #888;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    width: 86%;
}
section.songs > .list{
    margin-top: 18px;
}
section.songs > .list > li{
    position: relative;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E2E2E3;
}
.playButton{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%)
}
section.songs > .list .icon-play{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: #AAA;
}
section.songs > .list .icon-sq{
    width: 16px;
    height: 14px;
    margin-right: 4px;
    fill: #FE7A48;
    vertical-align: bottom;
}
section.art{
    background: transparent url(//oxkl41ihc.bkt.clouddn.com/recommand_bg_2x.png) no-repeat center;
    padding-top: 38px;
    text-align: center;
    padding-bottom: 18px;
    background-size: cover;
}
section.art svg{
    width: 230px;
    height: 44px;
}
section.art .link-warpper > a{
    display: inline-block;
    border: 1px solid;
    line-height: 40px;
    font-size: 16px;
    padding: 0 19px;
    border-radius: 20px;
    color: #D43C33;
    margin-top: 18px;
    margin-bottom: 5px;
}
section.art .copyright{
    font-size: 12px;
    color: #888;
    transform: scale(.75)
}

/* 第二页 */
.page-2{
    width: 100%;
    height: 100%;
  }
.page-2>.banner{
    background: url(//oxkl41ihc.bkt.clouddn.com/hot_music_bg_2x.jpg) no-repeat;
    padding-top: 38.9%;
    background-size: cover;
    position: relative;
}
.page-2>.banner>.info{
    position: absolute;
    top: 15;
    left: 20;
    z-index: 2;
    width: 142px;
}
.page-2>.banner>.info>img{
    width: 142px;
}
.page-2>.banner::after{
    content: "";
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-2>.banner>.info>.updateTime{
    font-size: 12px;
    transform: scale(.91);
    -webkit-transform: scale(.91);
    -moz-transform: scale(.91);
    margin-top: 10px;
    margin-left: -6px;
    color: #fff;
}
section.songs > #hotsongs{
    margin-top: 0;
}
.hotlist{
    margin-left: 28px;
}
.hotlist .num{
    position: absolute;
    top: 50%;
    left: -6%;
    color: #999;
    font-size: 17px;
    transform: translate(-50%,-50%)
}
.hotlist .hotnum{
    color: #df3436;
}
section.hotdn{
    height: 55px;
    line-height: 55px;
    text-align: center;
}
section.hotdn > a{
    font-size: 14px;
    color: #999;
}


/* 第三页搜索 */
.page-3 >.inputWrapper {
    position: relative;
    width: 94.6%;
    height: 30px;
    padding: 0 30px;
    box-sizing: border-box;
    background: #ebecec;
    border-radius: 30px;
    text-align: center;
    margin: 15px auto;
    color: #c9c9c9;
}
.page-3 >.inputWrapper .magnifier{
    position: absolute;
    top: 7px;
    left: 8px;
}
.page-3 >.inputWrapper .close{
    position: absolute;
    top: 7px;
    right: 8px;
    color: #999;
}
.page-3 input {
    width: 100%;
    height: 30px;
    line-height: 18px;
    background: transparent;
    font-size: 14px;
    color: #333;
    border: 0;
    outline: none;
}
.page-3 >.inputWrapper > label.holder{
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 14px;
    color: #c9c9c9;
    background: transparent;
    pointer-events: none;
}
.page-3 > .hotsearch{
    padding: 15px 10px 0;
    border-top: 1px solid #efefef;
}
.page-3 > .hotsearch > .title{
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
.page-3 .panel{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.page-3 .panel > a{
    padding: 0px 14px;
    border: 1px solid #efefef;
    border-radius: 32px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 14px;
    color: #333;
}
.page-3 >.searchText{
    border-top: 1px solid #efefef;
}
.page-3 >.searchText > .searchCont{
    line-height: 50px;
    color: #507daf;
    font-size: 15px;
    margin-left: 10px;
    border-bottom: 1px solid #efefef;
}
#searchResult{
    line-height: 45px;
    color: #333;
    margin-left: 10px;
}
#searchResult li{
    display: flex;
    align-items: center;
}
#searchResult li a{
    border-bottom: 1px solid #efefef;
    display: inline-block;
    flex: 1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#searchResult > li > svg{
    color: #999;
    margin-right: 7px;
}
.active{
    display: block;
}
.hide{
    display: none;
}
/* .searchText{
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 50px;
    color: #507daf;
    border-top: 1px solid #e4e5e6;
    display: none;
} */
.searchResult{

}